{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Tasks Dashboard</h1>

  {% if tasks.length %}
    {% for task in tasks %}
      {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "ID"
          },
          value: {
            text: task.id
          }
        },
        {
          key: {
            text: "Title"
          },
          value: {
            html: task.title
          }
        },
        {
          key: {
            text: "Description"
          },
          value: {
            html: task.description
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: task.status
          },
          actions: {
            items: [
               {
                 href: "/tasks/" + task.id,
                 text: "Change",
                 visuallyHiddenText: "Change status"
               }
            ]
          }
        },
        {
          key: {
           text: "Created Date"
          },
          value: {
           html: task.createdDate
          },
          actions: {
           items: [
           ]
          }
        }
      ]
    }) -}}
    {% endfor %}
  {% endif %}

{% endblock %}
