{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

  <form action="/tasks/{{ task.id }}" method="post">
    {{ govukInput({
      label: {
        text: 'ID'
      },
      id: "id",
      name: "id",
      value: task.id,
      disabled: true
    }) }}

    {{ govukInput({
      label: {
        text: 'Title'
      },
      id: "title",
      name: "title",
      value: task.title,
      disabled: true
    }) }}

    {{ govukInput({
      label: {
        text: 'Description'
      },
      id: "description",
      name: "description",
      value: task.description,
      disabled: true
    }) }}

    {% if errors.status %}
      {{ govukInput({
        label: {
          text: 'Status'
        },
        id: "status",
        name: "status",
        errorMessage: {
          text: errors.status
        }
      }) }}
    {% else %}
      {{ govukInput({
        label: {
          text: 'Status'
        },
        id: "status",
        name: "status",
        value: task.status
      }) }}
    {% endif %}

    {{ govukInput({
      label: {
        text: 'Created'
      },
      id: "created-date",
      name: "createdDate",
      value: task.createdDate,
      disabled: true
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}
